# Supabase
SUPABASE_URL=https://esexmwhdqkgjztskjsii.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_nu-u1y2YLrxKd7pRe5JfHg_YhR_lnef

# JWT
JWT_SECRET=your_secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=30d

# Firebase
FIREBASE_PROJECT_ID=anvoxa-1f95c

# Server
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000